<div class="container">
    <div class="row mb-3">
        <form>
            <div class="mb-3">
                <label for="formFile" class="form-label">Select videos to upload</label>
                <input class="form-control" #fileUploadInput type="file" accept="video/mp4,video/x-m4v, video/*m .mkv" id="formFileMultiple" multiple (change)="newFileChosen($event)">
            </div>
            <button (click)="uploadFiles()" type="button" class="btn btn-secondary" [disabled]="!newFiles">Upload videos</button>
        </form>
    </div>

    <div class="row mb-3">
        <app-item-card
            *ngFor="let item of items"
            [item]="item">

        </app-item-card>
    </div>
</div>