<div class="row item-card">
    <p><b>File name:</b> {{item.file}}</p>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Type</th>
                <th scope="col">Progress</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of item.notifications">
                <th>{{item.type}}</th>
                <th>{{item.progress}}</th>
                <th>
                    <button *ngif="item.progress != null && item.progress != progressEnum.FINISHED" [ngClass]="(item.progress == progressEnum.FAILED) ? 'btn btn-danger' : 'btn btn-primary'" type="button" [disabled]="item.progress != progressEnum.FINISHED">
                        <span *ngIf="item.progress != progressEnum.FINISHED && item.progress != progressEnum.FAILED" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        {{item.progress == progressEnum.FINISHED ? 'Download' : item.progress}}
                    </button>
                    <a *ngIf="item.progress == progressEnum.FINISHED" type="button" class="btn btn-primary" [href]="item.url" download>Download</a>
                </th>
            </tr>
        </tbody>
    </table>
</div>